*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5C6BC0;
    font-family: 'Slabo 27px', serif;

}

.brand{
    color: #F5F5F5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links a{

    text-decoration: none;
    color: #F5F5F5;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: 14px;

}

.nav-links li{

    list-style: none;
}

.burwidget{
    display: none;
    cursor: pointer;

}

.burwidget div{
    width: 25px;
    height: 3px;
    background-color: #F5F5F5;
    margin: 5px;

}

body{
    background-color: #ebf0fa;


}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }

}

@media screen and (max-width: 768px){

    body{
        overflow: hidden;

    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5C6BC0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 1;
    }

    .burwidget{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{

        opacity: 1;
        transform: translateX(0px);
    }
}