*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

html{
    height: 100%;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5C6BC0;
    font-family: 'Slabo 27px', serif;

}

.brand{
    color: #F5F5F5;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links a{

    text-decoration: none;
    color: #F5F5F5;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: 14px;
}

.nav-links li{

    list-style: none;
}

.burwidget{
    display: none;
    cursor: pointer;

}

.burwidget div{
    width: 25px;
    height: 3px;
    background-color: #F5F5F5;
    margin: 5px;

}

body{
    background-color: #ebf0fa;
    min-height: 100%;
}

.aInfo{
    margin-top: 12px;
    padding: 0px;
    justify-content: space-around;
    height: 250px;
    width: 250px;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.col-md-8 {
    margin: 10px;
    padding: 10px;
    height: 95%;
    width: 80%;
}
.col-md-8 img{
    height: 50%;
}

p{
    font-size: 100%;
    margin-top: 10px;
}

.bInfo img {
   display: flex;
   flex-wrap: wrap;
   float: left;
   margin-right: 20px;
   margin-top: 10px;
   width: 250px;
}


.about-box{
    text-transform: uppercase;
    border-bottom: 3px;
    border-bottom: double ;
    padding-bottom: 3px;
    font-weight: bolder;
}

article{
    width: 90%;
    display: inline-block;
}

.gallery .aInfo{
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    float: left;
    flex-wrap: wrap;
}


footer{
    margin-top: 240px;
    background-color: rgb(0, 2, 2);
    font-family: 'Slabo 27px', serif;
    color: #F5F5F5;
    padding: 30px;
    width: 100%;
    position: relative;

}

.card-title{
    background-color: #ebf0fa;
    text-align: center;
}

.card-img-top{
    height: 250px;
}

.gitHubLogo{
    height: 30px;
    align-items: center;
    float: right;

}

.linkedInLogo{
    height: 30px;
    align-items: center;
    float: left;
}

.copyRightLogo{
    height: 30px;
    text-align: center;

}

@media screen and (max-width: 1024px){


    .nav-links{
        width: 60%;
    }

}

@media screen and (max-width: 768px){

        body{
        overflow-x: hidden;

    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        margin-bottom: 0vh;
        background-color: #5C6BC0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }

    .nav-links li{
        opacity: 1;
        z-index: 2;
    }

    .burwidget{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);

}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{

        opacity: 1;
        transform: translateX(0px);
    }
}